

body {background-image: url("../images/viking-ship.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}

header {background-color: grey;
	padding: 20px;
	text-align: center;
}

h1 {font-size: 50px;
}

#timer {text-align: center;
	font-size: 30px;
}

#game {margin-top: 40px;
	padding: 5px;
	font-size: 15px;
	background-color: lightgrey;
}

#scoreBtn {align-content: center;
}

#button {background-color: lightblue;
	font-color: white;
}