body {background-image: url("Images/Man-with-question-mark-clipart-2.jpeg");
		background-size: contain;
}

header {text-align: center; font-size: 36px; border-style: solid;
		background-color: lightblue;
		height: 125px;
		column-width: 100%;
		padding: 20px;
}

#game {text-align: center;
		background-color: lightgrey;
		font-size: 24px;
		padding: 20px 10px;
		margin: 10px;
		
}

#img {margin: 10px;
	  
}

p {font-style: underline;

}
