td {
  padding: 10px;
  margin: 5px;
  color: black;
}

tr {
  margin: 5px;
}

button {
  padding: none;
  margin: 10px;
  background-color: white;
  color: black;
}

input {
  text-align: center;
}
