body {
	font-size: 15px;
}

.jumbotron {
	border-radius: 5px;
	padding: 30px;
	margin: 10px;
	text-align: center;
	font-size: 55px;
}

.panel {
	padding: 10px;
	margin: 10px;
	font-size: 15px;
}

.panel-title {
	font-size: 15px;
}


h4 {
	font-weight: bold;
	text-decoration: underline;
}

th {
	font-size: 15px;
	padding: 5px;
	text-decoration: underline;
	text-align: center;
}

td {
	padding: 5px;
	text-align: center;
}

#addTrain {
	font-size: 12px;
}

